#field {
	border: 1px solid #000000;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 230px;
	z-index: auto;
}

#turnfield {

}

#fieldbackground {
	position:absolute;
	top: 230px;
	z-index: -1;
}

.whitecell {
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	top: 0;
	left: 0;
	background-color: #fff7e2;
}

.blackcell {
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #ffffff;
	top: 0;
	left: 0;
	background-color: #672210;
}

.whitepawn {
	position: relative;
	width: 40px;
	height: 40px;
	top: 5px;
	left: 5px;
	border-radius:20px;
	border: 1px solid #000000;
	background-color: #ffffff;
}

.blackpawn {
	position: relative;
	width: 40px;
	height: 40px;
	top: 5px;
	left: 5px;
	border-radius:20px;
	border: 1px solid #ffffff;
	background-color: #000000;
}